<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVE Tools</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<a href="/msg">Message Search</a><br>
<a href="/types">Type Search</a>
</body>
</html>