<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type Search</title>
    <style>
        body {
            font-family: sans-serif;
        }
        table {
            max-width: 85%;
            border-collapse: collapse;
            border: solid 2px;
        }

        th, td {
            border: solid 1px;
            padding: 2px 0.5em 2px;
        }

        th {
            text-align: center;
        }

        td {
            text-align: left;
        }

        .link {
            cursor: pointer;
        }
    </style>
</head>
<body>
<form>
    <label>
        Search terms
        <input type="text" name="name" value="{{ kw }}">
    </label>
    <button type="submit">Search</button>
</form>
<br>
<table>
    <thead>
    <tr>
        <th class="msgid">Type ID</th>
        <th class="en">en-us</th>
        <th class="zh">zh</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    {% for i in result %}
    <tr>
        <td class="msgid"><a href="/types/{{ i.type_id }}">{{ i.type_id }}</a></td>
        <td class="en">{{ i.en | safe }}</td>
        <td class="zh">{{ i.zh | safe }}</td>
        <td class="link" onclick="copy({{ i.type_id }}, '{{ i.zh | safe }}')">&lt;url=showinfo:{{ i.type_id }}&gt;{{ i.zh | safe }}&lt;/url&gt;</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function copy(id, text) {
        navigator.clipboard.writeText("<url=showinfo:" + id + ">" + text + "</url>")
    }
</script>
</body>
</html>